<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File" Encoding="utf-8"  name="ErrorLoggerTarget" fileName="D:/FrameworkLogs/NLog/Error/log_${shortdate}.txt"
             layout="${longdate} ${uppercase:${level}} ${message}" keepFileOpen="false" archiveAboveSize="1048576" maxArchiveFiles="10" archiveNumbering="Rolling" />
    <target xsi:type="File" Encoding="utf-8"  name="InfoLoggerTarget" fileName="D:/FrameworkLogs/NLog/Info/log_${shortdate}.txt"
             layout="${longdate} ${uppercase:${level}} ${message}" keepFileOpen="false" archiveAboveSize="1048576" maxArchiveFiles="10" archiveNumbering="Rolling" />
    <target xsi:type="File" Encoding="utf-8"  name="TraceLoggerTarget" fileName="D:/FrameworkLogs/NLog/Trace/log_${shortdate}.txt"
             layout="${longdate} ${uppercase:${level}} ${message}" keepFileOpen="false" archiveAboveSize="1048576" maxArchiveFiles="10" archiveNumbering="Rolling" />
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <logger name="ErrorLogger" minlevel="Error" writeTo="ErrorLoggerTarget" />
    <logger name="InfoLogger" minlevel="Info" writeTo="InfoLoggerTarget" />
    <logger name="TraceLogger" minlevel="Trace" writeTo="TraceLoggerTarget" />
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>